[package]
name = "ai-deno"
edition = "2021"
version = "0.1.0"

[lib]
name = "ai_deno"
crate-type = ["staticlib", "rlib"]

[features]
default = ["debug_lib"]
debug_lib = []
debug_deno = []

[dependencies]
ffi-support = "0.4.4"
#rustyscript = {git = "https://github.com/rscarson/rustyscript.git", features = ["all_extensions", "node_experimental"] }
# rustyscript = { path = "../rustyscript", default-features = false, features = ["all_extensions", "node_experimental"] }
once_cell = "1.21.1"
anyhow = "1.0.97"
serde = "1.0.219"
async-trait = "0.1.88"
winapi = "0.3.9"
reqwest = "0.12.14"
url = "2.5.4"
flate2 = "1.1.0"
tar = "0.4.40"
serde_json = "1.0.140"
twox-hash = "2.1.0"
regex = "1.11.1"
wildcard = "0.3.0"
dashmap = "6.1.0"

maybe_path = { version = "0.1.3" }
deno_error = { version = "0.5.5" }
deno_core = { version = "0.340.0" }
deno_runtime = { version = "0.203.0", features = ["transpile"] }
deno_npm = { version = "0.27.2" }
deno_lib = { version = "0.11.0" }
node_resolver = { version = "0.33.0" }
deno_resolver = { version = "0.26.0" }
deno_ast = { version = "0.46.2", features = ["transpiling", "cjs"] }
deno_path_util = { version = "0.3.1" }
deno_graph = "0.89.2"
deno_npm_cache = "0.14.0"
deno_package_json = "0.5.0"
deno_semver = "0.7.1"
deno_cache_dir = "0.18.0"

v8 = { version = "=135.0.0" }
tokio = { version = "1.44.1", features = ["full"] }
tokio-util = "0.7.14"
thiserror = "2.0.12"
homedir = { version = "0.3.4" }
sys_traits = { version = "0.1.8", features = ["real", "default"] }
futures = "0.3.31"

[build-dependencies]
cbindgen = "0.28.0"

[[example]]
name = "example"
path = "examples/example.rs"
crate-type = ["bin"]
